.App {
  text-align: center;
}

.App-header {
  background-color: #292929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputsConversor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 200px;
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}

input:hover{
  transform: scale(1.03);
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: green;
  color: white;
  transition: all 0.3s ease-out;
}

button:hover{
  background-color: rgb(15, 150, 15);
}
